:root{ /*cria variáveis de cor*/
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}
body{ /*estilização no corpo da página*/
    background-color: var(--cor-fundo); /*cor de fundo*/
    color: var(--cor-texto); /*cor do texto*/
    display: flex; /**/
    justify-content: center; /*ajusta os elementos no centro*/
    align-items: center; /*alinha os elementos dentro de um display no cenrto*/
    min-height: 100vh; /*define o tamanho minimo dos elementos: 100 vw = tamanho da janela de visualização*/
}
.caixa-principal{ /*estilização da classe caixa-principal*/
    background-color: var(--cor-principal);
    width: 90%; /*largura dos elementos*/
    text-align: center; /*alinha o texto no centro*/
    padding: 20px; /*espaçamento interno de 20 pixels*/
}
h1{
    color: var(--cor-destaque);
}
button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
