:root{
    --cor-fundo: #010830 ;
    --cor-principal: #0b0d20 ;
    --cor-secundaria: #212323 ;
    --cor-destaque: #2bdefd ;
    --cor-texto: #d7f9ff ;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}